* {
  margin-top: 0px;
  padding: 0px;
}
a:link{
  color: rgb(0, 255, 145);
}
a:visited{
  color: black;
}
a:hover{
  color: tomato;
}
title {
  font-weight: 100px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
}
h1:hover{
  box-shadow: 6px 6px 4px rgb(76, 76, 76);
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  border-style: outset;
  /*the boarder style outset is really interesting when combined together with the border radius*/
  border-radius: 30px;
  text-align: center;
}
body {
background-color: antiquewhite;">
padding: 0px 0px;
margin: 0px 30px;
back
}

button:hover{
  background-color: white;
}
button:active{
  background-color: rgb(209, 143, 96);
}
