* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: flex;
  border: 1px solid red;
}
.main {
  box-sizing: border-box;
}
.left {
  width: 50%;
  height: 100vh;
  background-image: url(pics/710445-cool-naruto-wallpapers-hd-1920x1200-4k.jpg);
  background-position: center;
  background-size: cover;
  display: block;
  border: 1px solid green;
}
.right {
  width: 50%;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  border: 1px solid blue;
  background: linear-gradient(to bottom, rgb(66, 103, 254), rgb(0, 0, 0));
}
h3 {
  margin: 5px 0px;
  color: aliceblue;
}
p {
  margin: 5px 30%;
  text-align: center;
  color: #444;
  color: aliceblue;
}
input {
  padding: 8px 8px;
  width: 100%;
  margin: 3px 0;
  border-radius: 8px;
  outline: none;
  border: 1px solid #444;
}
label {
  padding: 5px 0;
}
button {
  border-radius: 5px;
  background-color: rgb(0, 153, 0);
  color: azure;
  font-size: large;
}
a:link {
  color: cornsilk;
}
a:hover {
  color: lightgreen;
}
button:hover {
  background-color: blue;
}
